$site-width: 1180px;

/* Colors */
$color-text: #ebebeb;
$color-text-hex-30: #555555;
$color-text-hex-40: #6b6b6b;
$color-text-hex-50: #808080;
$color-text-hex-60: #999999;
$color-text-hex-70: #b3b3b3;

$color-primary: #d77617;
$color-secondary: #f5c983;
$color-tertiary: #279084;

$color-background: #191a1c;
$color-background-light: #212121;
$color-background-light-border: #2b2b2b;
$color-header-background: #131217;

.color-primary {
  color: $color-primary;
}
.color-secondary {
  color: $color-secondary;
}

.color-text-hex-70 {
  color: $color-text-hex-70;
}

@mixin font-title {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-title {
  @include font-title;
}

html,
body {
  height: 100%;
}

body {
  background: $color-background;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  header {
    background: $color-header-background;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    @include font-title;
    font-weight: 700;
    color: $color-text-hex-50;
    @media (max-width: 650px) {
      height: 50px;
    }
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }
}

#app {
  //font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  color: $color-text;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;

  label {
    @include font-title;
    color: $color-secondary;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
    display: block;
    padding-bottom: 0.5rem;
  }

  input,
  textarea,
  select {
    box-sizing: border-box;
    font-weight: 30;
    background: #111;
    border: 1px solid #424242;
    color: #ebebeb;
    border-radius: 2px;
    font-size: 13px;

    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    outline: 0;
  }

  input,
  select {
    &:not[type="checkbox"] {
      height: 40px;
    }
  }

  select {
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    background: url("assets/select-arrow-with-border.png") no-repeat right #111;

    &:hover {
      cursor: pointer;
    }
  }

  &.inline {
    label,
    input {
      display: inline;
      width: auto;
    }
    label {
      margin-left: 10px;
    }
  }
}

.playground-tool {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  .results {
    margin: 0 auto;
    padding: 20px;

    .inner {
      margin: 0 auto;

      h1 {
        margin-top: 10px;
        @media (min-width: 650px) {
          margin-top: 25px;
        }
        margin-bottom: 10px;
      }

      table.results-table {
        tr {
          td:first-child {
            padding-right: 30px;
            color: $color-text-hex-70;
          }
        }
      }
    }
  }

  .participants {
    display: flex;
    justify-content: space-between;

    .attacker-info,
    .defender-info {
      flex-grow: 1;
      h2 {
        margin-bottom: 15px;
        color: $color-text-hex-50;
        font-weight: 700;
        font-size: 14px;
      }
    }

    .attacker-info {
      flex: 2;
      margin-right: 20px;

      .pair {
        display: flex;
        > div {
          &:not(:first-child) {
            padding-left: 5px;
          }
          &:not(:last-child) {
            padding-right: 5px;
          }
          flex: 1;
        }
      }

      .is_riding {
        margin-bottom: 0;
        padding-top: 8px;
        label {
          padding-bottom: 0;
        }
      }
    }

    .defender-info {
      flex: 1;
    }

    .panel {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
      background: $color-background-light;
      border: 1px solid $color-background-light-border;
      padding: 15px;
    }
  }
}
