<div class='map-wrapper'>
    <div class='corner-map-region'></div>
    <div class='coms-region'></div>
</div>
<div class='console-region'>Console</div>
<div class='scroll-tool-region'></div>
<div class='input-region'></div>