<div class='header-region'>
    <div class='inner'>
        <div class='logo'>
            <a href='/#'>
                <img src='assets/logo-black.svg' class='logo-badge'/>
            </a>
        </div>

        <div class='tic-timer-region'>&nbsp;</div>

        <div class='world-name'>
            <a href='http://wotmud.org'>The Wheel of Time MUD</a>
            <img src='assets/help_icon_2x.png' class='help-icon'/>
        </div>
    </div>
</div>

<div id="notification-box"></div>

<div id="timer-region"></div>

<div class='main-region'></div>

<div id="wot-modal"></div>
