
/* Colors */

$color-background: #191A1C;
$color-text: #EBEBEB;
$color-text-hex-50: #808080;
$color-text-hex-70: #b3b3b3;
$color-primary: #D77617;
$color-primary-rgba: rgba(215, 118, 23, 1.0);
$color-secondary: #f5c983;

$color-text-dark: #161616; // meant to look good against color-text background

$color-green: #279084;
$color-green-70: #266962;
$color-red: #C13434;
$color-red-70: #8b2b2e;

.color-primary { color: $color-primary }

@mixin font-title {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //font-weight: 300;
}
.font-title { @include font-title; }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {

    position: relative;
    display: flex;
    flex-direction: column;

    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 12px;

    background: $color-background;
    color: $color-text;

    a {
        color: $color-primary;
        &:hover, &:active, &:focus, .active {
            color: $color-primary;
            text-decoration: none;
        }
    }

}

h1, h2, h3, h4, h5, h6 {
    @include font-title;
}

/* Global components */
.form-group {
    margin-bottom: 1rem;

    label {
        @include font-title;
        color: $color-secondary;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 18px;
        white-space: nowrap;
        display: block;
        padding-bottom: .5rem;
    }

    input, textarea, select {
        box-sizing: border-box;
        font-weight: 30;
        background: #111;
        border: 1px solid #424242;
        color: #ebebeb;
        border-radius: 2px;
        font-size: 13px;

        display: block;
        width: 100%;
        padding: 0.5rem 0.75rem;
        outline: 0;
    }
}

button[type=submit] {
    background-color: $color-primary;
    border: 0;
    color: white;
    font-size: 13px;
    line-height: 12px;
    border-radius: 2px;
    padding: 0.75rem 1.5rem;
    font-weight: 700;
    letter-spacing: 1.2px;
}


#wot-client {

    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    min-height: 0;
    min-width: 0;

    #notification-box {
        position: relative;

        .ui-notification {

            border: 3px solid $color-green;
            position: absolute;
            max-width: 300px;
            left: 0;
            right: 0;
            top: 20px;
            margin-right: auto;
            margin-left: auto;
            z-index: 10000;

            div.notification-background {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: $color-green-70;
                z-index: 100;
            }

            &.error {
                border-color: $color-red;
                .notification-background {
                    background-color: $color-red-70;
                }
            }

            div.message {
                position: relative;
                padding: 10px;
                display: flex;
                justify-content: center;
                z-index: 110;
            }

            div.close-button {
                &:hover { cursor: pointer }
                position: absolute;
                right: 6px;
                top: 0;
                z-index: 120;

                span {
                    color: $color-text-dark;
                    font-size: 15px;
                }
            }
        }
    }

    #timer-region {

        width: 300px;
        margin: 0 auto;
        margin-top: 20px;

        .timer-view {
            color: $color-text-hex-50;
            width: 300px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 100;

            background: rgba(26, 26, 28, 0.8);
            border: 1px solid #242629;
        }
    }

    .main-view {
        min-height: 0;
        min-width: 0;

        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;

        .game-view {
            position: absolute;
            top: 0;
            bottom: 0px;
            right: 0;
            left: 0;

            min-height: 0;
            min-width: 0;

            max-width: 850px;
            margin: 0 auto;

            display: flex;

            .corner-map-region {


                position: absolute;
                top: 0;
                right: 0;
                z-index: 100;
                canvas {
                    background: rgba(26, 26, 28, 0.8);
                    border: 1px solid #242629;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .console-region {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 70px;

                display: flex;

                min-height: 0;
                min-width: 0;

                .console {

                    flex-direction: column;

                    padding: 0 20px;

                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    overflow-y: scroll;

                    > div {

                        margin: 0;

                        pre { color: inherit }

                        &.echo { color: $color-text-hex-50; }

                        &.room-view,
                        //&.echo,
                        &.prompt {
                            margin-bottom: 10px;
                        }

                        span.red {
                            color: $color-red;
                            font-weight: 400;
                        }
                        span.blue {
                            color: #99ccff;
                            font-weight: 400;
                        }
                        span.yellow {
                            color: $color-secondary;
                        }
                        span.green {
                            color: #6ed26e;
                            font-weight: 400;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .input-region {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 20px;

                .form-group { margin: 0 }

                .text-input { width: 100% }
            }

            .room-view {
                .room-name {
                    color: #99ccff;
                    font-weight: 400;
                }

                .room-items {
                    color: #6ed26e;
                }

                .room-mobs {
                    color: $color-secondary;
                }

                .room-description {
                    div:empty:before {
                       content: "\200b";
                    }
                }
            }
        }
    }

    #wot-modal {
        top: 0;
        position: fixed;
        z-index: 1000;

        .modal-overlay {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            background: rgba(0, 0, 0, 0.6);

            &.opaque { // meant to completely obscure what's behind
                background: rgba(0, 0, 0, 1);
            }

            transition: opacity .3s ease;
        }

        .modal-contents-region {
            transition: all .3s ease;
            position: fixed;
            top: 0;
            overflow-y: scroll;
            height: 100%;
            width: 100%;
        }

        .wot-help {

            background: $color-background;
            color: $color-text;
            font-size: 13px;
            border: 10px solid #020202;
            padding: 0;
            max-width: 760px;
            margin: 0 auto;
            vertical-align: middle;


            .cmd {
                color: $color-secondary;
            }

            .title-banner {
                width: 100%;
                display: flex;

                justify-content: space-between;

                .close-icon {
                    color: $color-red;
                    padding: 5px;

                    &:hover { cursor: pointer; }
                }
            }
        }
    }

}